.button-class {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4caf50; 
}

html, 
body {
  font-family: Arial, sans-serif;
}

.modal h1 {
  text-align: center;
}

.modal p {
  text-align: center;
}

.modal img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
}

ul {
  text-align: center;
  list-style-type: none;
}

h1 {
  text-align: center;
}




